<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ravindra.siit.chinkara">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserDetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExamPageDrower"
            android:label="@string/title_activity_exam_page_drower"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Result"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ExaminationList"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OnlineExam"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Syllabus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Notification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OnlineExamPageDrower"
            android:label="@string/title_activity_online_exam_page_drower"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".OnlineResult" />
        <activity android:name=".ShowPdf" />
        <activity android:name=".Syllabus2"></activity>
    </application>

</manifest>